*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #161616 !important;
    color: #fff !important;
}

li{
    list-style: none !important;
}

a{
    text-decoration: none !important;
    color: #fff !important ;
}

button{
    width: 116px;
    height: 40px;
    border-radius: 7px !important;
    background-color: #FF5F00;
    color: #fff !important;
    /* box-shadow: #fff; */
    border: none !important;
    /* margin-left: 42% !important; */
}

span{
    font-weight: bold;
}

h6{
    font-weight:500 !important;
    font-style: italic;
}

input{
border: none;
background: none;
outline: 0;
color: #fff;
border-bottom: 1px solid #fff;
}

.wit{
    margin-top: 25.6%;
}