*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #161616 !important;
    color: #fff !important;
}

li{
    list-style: none !important;
}

a{
    text-decoration: none !important;
    color: #fff !important ;
}

button{
    width: 116px;
    height: 40px;
    border-radius: 7px !important;
    background-color: #FF5F00;
    color: #fff !important;
    /* box-shadow: #fff; */
    border: none !important;
    margin-top: 80px !important;
}

input{
border: none;
background: none;
outline: 0;
color: #fff;
border-bottom: 1px solid #fff;
width: 60%;
padding-bottom: 5px;
}

::placeholder{
    font-style: italic;
    color: #5c5c5c;
}

.gama{
    width: 103px;
    height: 29px;
}

.volver{
    width: 31px;
    height: 30px;
}

.datos{
    font-weight: bold;
}

span{
font-size: 1.3rem;
}